<!DOCTYPE html>
<html>
<%- include('partials/header') %>

    <body>

        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <%- include('partials/top-bar') %>
                <!--end logo-->
        </div>
        <!-- Top Bar End -->
        <div class="page-wrapper">
            <!-- Left Sidenav -->
            <%- include('partials/side-bar') %>
                <!-- end left-sidenav-->
                <!-- Page Content-->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <div class="float-right">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item active">Change Password</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Change Password</h4>
                                </div>
                                <!--end page-title-box-->
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mt-0 header-title">Change Password</h4>
                                        <form class="form-parsley" action="/update-password" method="post"
                                            id="changePassword">
                                            <input type="hidden" name="email" value="<%= login_email %>">
                                            <div class="form-group">
                                                <label>Old Password*</label>
                                                <input class="form-control" type="password" name="oldPassword"
                                                    placeholder="Old Password*">
                                            </div>
                                            <div class="form-group">
                                                <label>New Password*</label>
                                                <input class="form-control" type="password" name="newPassword"
                                                    id="newpassword" placeholder="New Password*">
                                            </div>
                                            <div class="form-group">
                                                <label>Confirm Password*</label>
                                                <input class="form-control" type="password" name="confirmPassword"
                                                    placeholder="Confirm Password*">
                                            </div>
                                            <div class="form-group mb-0"><button type="submit"
                                                    class="btn btn-primary waves-effect waves-light">Submit</button>
                                            </div>
                                            <!--end form-group-->
                                        </form>
                                        <!--end form-->
                                    </div>
                                    <!--end card-body-->
                                </div>
                                <!--end card-->
                            </div><!-- end col -->
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card">
                                        <div class="card-body">
                                            <form class="form-parsley" action="/submit-answer" method="post"
                                                id="submitanswer">
                                                <input type="hidden" name="user_id" value="<%= login_id %>">
                                                <% if(data.length>0) { %>
                                                    <% for(var i=0; i<data.length; i++) {%>
                                                        <input type="hidden" name="question" value="<%= data[i].id %>">
                                                        <p>
                                                            <%= data[i].question %>
                                                        </p>
                                                        <div id="firstq">
                                                            <input class="form-control" type="text" name="<%= data[i].id %>"
                                                                id="<%= data[i].id %>" value=""
                                                                 placeholder="Write answer here*" required>
                                                        </div>
                                                        <% } %>
                                                            <button class="btn btn-primary mt-4">Submit</button>
                                                            <% } else { %>
                                                                <div>Questions not found.</div>
                                                                <% } %>
                                            </form>
                                        </div>
                                    </div>
                                    <!--end card-body-->
                                </div>
                                <!--end card-->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- container -->
                    <%- include('partials/footer') %>
                        <!--end footer-->
                </div>
                <!-- end page content -->
        </div>
        <!-- end page-wrapper -->
        <script type="text/javascript">
            $(document).ready(function () {
                $('#changePassword').validate({ // initialize the plugin
                    rules: {
                        oldPassword: {
                            required: true,
                        },
                        newPassword: {
                            required: true,
                        },
                        confirmPassword: {
                            required: true,
                            equalTo: "#newpassword"
                        }
                    },
                    messages: {
                        oldPassword: {
                            required: "Old password is required.",
                        },
                        newPassword: {
                            required: "New password is required.",
                        },
                        confirmPassword: {
                            required: "Confirm password is required.",
                            equalTo: "The new password and confirm password do not match.",
                        }
                    }
                });
            });
        </script>
    </body>

</html>